<div class="row">
<div class="col-md-3 col-xs-12">
    <br>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between list-group-item-primary align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Om patil</div>
            last read
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Test Test</div>
            Cras justo odio
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">User Name</div>
            Cras justo odio
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
      </ol>
</div>
<div class="col-md-9 col-xs-12">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label fw-bold">Om patil</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-10">
            <textarea class="form-control col-sm-10" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>  
        <!-- <div class="col-xs-12"> -->
            <button type="button" class="col-sm-2 btn btn-warning">Send</button>
        <!-- </div> -->
      </div>
      <br>
      <br>
</div>
</div>